.headerContainer {
  grid-area: header;

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: var(--header-height);

  background: var(--gray-800);
  border-bottom: 1px solid var(--gray-300);

  z-index: 100;
}

.headerContent {
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  nav {
    margin-left: 5rem;
    height: 100%;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 100%;
      line-height: var(--header-height);
      color: var(--gray-300);

      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;

        &::after {
          content: '';
          height: 3px;
          border-radius: 3px 3px 0 0;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: var(--yellow-500);
        }
      }
    }
  }
}
